<header class="body-font p-5">
    <div class="container mx-auto flex flex-wrap flex-col md:flex-row justify-center items-center">
        <a routerLink="/" ariaCurrentWhenActive="page" class="flex items-center justify-center mb-4 md:mb-0">
            <span class="text-xl text-my-ng-theme-primary-color material-icons-outlined mr-1">bug_report</span>
            <span class="text-xl">Bugtracker</span>
        </a>
        <nav
            class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l-2 md:border-solid md:border-0 md:border-gray-400 gap-x-4 gap-y-1 flex flex-wrap items-center content-center text-base justify-center">
            <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="">First Link</a>
            <a routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page" class="">Projects</a>
            <a class="">Third Link</a>
            <a class="">Fourth Link</a>
        </nav>
        <button
            class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
</header>

<router-outlet></router-outlet>