<button mat-flat-button color="primary" (click)="createProjectDialog()" class="mx-2">Create project</button>

<div class="md:pb-16 md:px-8 pt-4">
  <div class="mat-elevation-z2">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row" matRipple>{{ row.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row" matRipple>{{ row.name }}</td>
      </ng-container>

      <!-- Owner Column -->
      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Project owner</th>
        <td mat-cell *matCellDef="let row" matRipple>{{ row.owner.username }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr [routerLink]="['/projects', row.id]" mat-row *matRowDef="let row; columns: displayedColumns" class="cursor-pointer hover:bg-my-ng-theme-menu-item-hover-state-layer-color"></tr>

    </table>

    <mat-paginator showFirstLastButtons #paginator [length]="dataSource.resultsLength" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page"></mat-paginator>
  </div>

  <button class="my-9" (click)="changeTheme()">Change theme</button>
</div>
