/* You can add global styles to this file, and also import other style files */

/*
 * NOTE, TODO: Colors from the Angular Material custom theme are available in
 * the TailwindCSS theme. See file tailwind.config.js. 
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    // @apply text-my-ng-theme-primary-color hover:text-my-ng-theme-primary-lighter-color;
    color: inherit;
    @apply hover:text-my-ng-theme-primary-lighter-color;
    text-decoration: none;
}

// a:visited {
//     // TODO Which color?
//     color: green;
// }

a.active {
    // TODO Which color?
    @apply text-pink-500;
}